<div class="container mt-5">
  <div class="d-flex p-2 justify-content-center"><h4>Company Info</h4></div>
  The business area High Performance Polymers is comprised of EMS-GRIVORY and
  EMS-EFTEC. EMS-GRIVORY is the leading specialised manufacturer of
  high-performance polyamides and the supplier with the widest range of
  polyamide materials. EMS-GRIVORY is made up of the three Business Units
  EMS-GRIVORY Europe, EMS-GRIVORY America and EMS-GRIVORY Asia. EMS-EFTEC is
  represented under the name EFTEC as leading supplier worldwide for adhesives,
  sealants and coatings including application engineering systems for the
  automotive industry. The Business Unit EMS-PATVAG was sold on November 26,
  2019. For this reason, the business area Specialty Chemicals is now comprised
  solely of the Business Unit EMS-GRILTECH. EMS-GRILTECH is specialized in the
  development and production of fibers, fusible adhesives and adhesive yarn for
  technical and textile applications, adhesion promoters for the tyre industry,
  powder coatings and reactive diluents.
</div>
